body {  
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

.lyrics-section {
    text-align: center;
    margin: 2em 0;
}

.lyrics-container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;

}

li {
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
   
}
mark {
    background-color: rgb(164, 202, 76);
    color: black;
  }
  .imgs{
    width: 48px;
    height: 50px;
}
img{
    width: 250px;
    height: 250px;
    border-radius: 20%;
    margin-right: 20px;
    object-fit: cover;
    border: 3px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.musicvideolyrics{
    display: block;
    justify-self: center;
    align-items: center;
}
nav{
    position: relative;
    width: 100%;
    background-color: rgb(89, 156, 147);
    padding: 5px 15px;
}
.nav-container{
    margin: 0 10px;
    display: inline-block;
}
.brand-title{
    display: inline-block;
    margin: 0;
    color: white;
    font-family: Verdana;
    position: relative;
    top: -15px;
    left: 15px;
}
.link-container{
    float: right;
    position: absolute;
    right: 30px;
    top: 20px;
}
.link{
    color: white;
    text-decoration: none;
    margin:0 25px;
    transition: 0.2s;
}
.link:hover{
    color: rgb(30, 30, 30) ;
    background-color: white;
    border-radius: 20px;
    padding: 15px;   
}